Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

##### Objectives:

Most important lenguages for Data Science: Python, R, Julia, C++...

Some of the popular languages that Data Scientists use are: 
1. Python 
2. R 
3. Julia 
4. C++

Some of the commonly used libraries used by Data Scientists include:

 1. NumPy
 2. Panda
 3. MatPlotLib
 4. Seaborn

Data Science Tools:
Caret
Stringr
ggplot
dplyr

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author: 
Jose Castillo